/*Plantilla*/
.left{
height: 2660px;
width: 5%;
background-color: #E8E8E8;
left: 0px;
top: 0px;
position: absolute;

}

.right{
height: 2660px;
width: 5%;
background-color: #E8E8E8;
right: 0px;
top: 0px;
position: absolute;
}
.other{
height: 100%;
width: 90%;
top: 0px;
right: 5%;
left: 5%;
position: relative;
}

body{
    background-color: #E8E8E8;
}
/*Fin de plantilla*/

/*Top_Div*/
.header{
    widht: 100%;
    height: 110px;
    background-color: #83B614;
    top: 0px;
    margin-right: 0%;
    margin-left: 0px;
    margin-bottom: 40px
    
}
/*menu*/
nav {
    top: 0px;
	margin-bottom: 27px;
    margin-top: 5px;
    margin-left: 0%;
	position: relative;
	width: 1000px;
	height: 50px;
	background-color: #83B614;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	width: 100%;
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
    cursor: pointer;
    
}
a:nth-child(1) {
	width: 200px;
}
a:nth-child(2) {
	width: 80px;
}
a:nth-child(3) {
	width: 200px;
}
a:nth-child(4) {
    width: 120px;
}
a:nth-child(5) {
    width: 100px;
}
/*.Menu {
    padding: 0;
    }

.Menu li {
        display: inline;
        }

.Menu li a {
    
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #83B614;
    color: #fff;
    left: 0px;
    width:33%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    }
*/
/*Fin del menu*/

.footer{
    background-color: #83B614
    }